@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');


* {
  margin: 0;
  padding: 0;
}


section {
  margin-top: 55px;
  z-index: -1;
  scroll-snap-align: start;
  height: 100vh;
  width: auto;
  background : #F5EDEC;
  color: black;
}


.nav{
  margin-left: 145px;
}

li,
a,
button {
  font-family: "Roboto", sans-serif;
  color: #1b0238;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;

}

header {

  width: 100%;
  height: 55px;
  z-index: 1;
  position: fixed;
  background: white;  
   /* Adjust the value as needed */
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
  padding: 0px 20px;
}

.nav li a {
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.contact-button {
  border-radius: 10px;
  background: #ea512e;
  border: none;
  margin-right: 150px;
  padding-top: 6px;
  padding-bottom: 6px;
}

.contact {
  text-decoration: none;
  color: #fff;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
  padding: 20px;
  margin: 10px;
}


.m_logo{
  margin-top: 52px;
  margin-left: 292px;

  position: absolute;
  width: 428px;
  height: 63px;
  flex-shrink: 0;
}

.s_shape{
  position: absolute;
  width: 210px;
  height: 236.91px;
  flex-shrink: 0;

}

.dots{
  position: absolute;
  width: 100px;
  height: 120px;
  flex-shrink: 0;
  margin-top: 18px;
  margin-left:  890px;
}

.title{

  position: absolute;
  margin-top: 190px;
  margin-left: 151px;
 
  
  width: 663px;
  height: 211px;
  text-align: center;
  flex-shrink: 0;
  color: #EA512E;

  font-family: 'Catamaran', sans-serif;
  
  font-size: 39px;
  font-style: normal;
  font-weight: 700;
  line-height: 42.5px; /* 108.974% */
  text-transform: capitalize;
}



.b_shape{
  position: absolute;
  width: 600px;
  height: 737px;
  margin-top: 72px;
  margin-bottom: 143px;
  margin-left: 1080px;
}

.description{
  position: absolute;
  margin-top: 377px;
  margin-left: 164px;
  width: 650px;
  height: 291px;
  color: #000;
  text-align: justify;
  font-family: 'Merriweather', serif;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.5px; /* 197.727% */
}


