@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
html{
  scroll-behavior: smooth;
}

body {
  background: #f5edec;
}

.navbar {
  width: 100%;
  z-index: 1;
  top: 0;
  overflow: hidden;
  position: fixed;
  display: flex;
  align-items: center;
  background: white;
  padding: 1em;
}

.logo {
  padding-left: 80px;
  width: 50px;
  cursor: pointer;
  padding-right: 60px;
}

.menu-icon {
  margin-left: 400px;
  color: white;
  width: 25px;
  cursor: pointer;
}

nav ul li {
  padding-left: 50px;

  list-style: none;
  display: inline-block;
}

nav ul li a {
  color: #1b0238;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 120% */
  text-decoration: none;
}

nav ul li a:hover {
  color: #ea512e;
}

.m-containter {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 1340px;
  height: 852px;
  flex-shrink: 0;
  margin-top: 100px;
  min-height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}

.top-h {
  display: flex;
  flex-direction: row;
  width: auto;
}

.s-shape {
  flex-shrink: 0;
}

.m-logo {
  width: 428px;
  height: 63px;
  flex-shrink: 0;
  margin-left: 300px;
  margin-top: 38px;
}

.m-dots {
  width: 112px;
  height: 111px;
  flex-shrink: 0;
  margin-left: 344px;
}

.heading-h {
  width: 656px;
  height: 103px;
  flex-shrink: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 58px;
}

.headiing {
  color: #ea512e;
  text-align: center;
  font-family: "Catamaran";
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 42.5px; /* 88.542% */
  text-transform: capitalize;
}

.mid-h {
  display: flex;
  flex-direction: row;
  width: auto;
}

.h-11 {
  width: 299px;
  height: 273px;
  flex-shrink: 0;
  margin-top: 52px;
}

.description-h {
  margin-left: 60px;
  margin-top: 50px;
  color: #000;
  text-align: justify;
  font-family: "Merriweather", serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 43.5px; /* 181.25% */
  width: 650px;
}

.group-h {
  width: 314px;
  height: 334px;
  flex-shrink: 0;
  margin-left: 39px;
}

.kids-h {
    margin-top: 53px;
  width: 185px;
  height: 114px;
  flex-shrink: 0;
}

.owl-h {
    margin-top: 53px;
    width: 100px;
    height: 113.88px;
flex-shrink: 0;
  
}

.bottom-h {
    width: auto;
    flex-shrink: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}









